<a href="https://colab.research.google.com/github/smarta-dev/smarta_analytics/blob/main/Smarta_pred1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install drawtree

Collecting drawtree
  Downloading https://files.pythonhosted.org/packages/34/9c/4e9bc0c12958ec4299ad204af70ad577b8fe529767629b419b94365e4372/drawtree-0.1.2.tar.gz
Building wheels for collected packages: drawtree
  Building wheel for drawtree (setup.py) ... done
  Created wheel for drawtree: filename=drawtree-0.1.2-cp36-none-any.whl size=5695 sha256=51ad4d6f29d45b2fee0326d0aa188bd064f43d6296cda65bcbd20e788157e504
  Stored in directory: /root/.cache/pip/wheels/d6/a6/d4/490e717597b2e0c5357967be81d5869021c125a85ac86e5d88
Successfully built drawtree
Installing collected packages: drawtree
Successfully installed drawtree-0.1.2

In [ ]:
import numpy as np 
import pandas as pd 
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report 
from IPython.display import display, Image
import pydot
from sklearn import tree
from sklearn.tree import _tree
from sklearn import tree
import collections
import drawtree
from graphviz import Source

In [ ]:
datafile=pd.read_csv("apartment_listing.csv")
datafile

        FID  OBJECTID        TAX_ID  ... VALUE Latitude        Occupancy
0       951    689668  3.115000e+25  ...     0  43.0771  Rental Occupied
1      2146    692133  3.115000e+25  ...     1  43.0720  Rental Occupied
2      2645    693446  3.115000e+25  ...     0  43.0609  Rental Occupied
3       365    691135  3.115000e+25  ...     1  43.0806  Rental Occupied
4       427    690356  3.115000e+25  ...     1  43.0745  Rental Occupied
...     ...       ...           ...  ...   ...      ...              ...
1281  41070    730596  3.115000e+25  ...     0  43.0581  Rental Occupied
1282  41081    730607  3.115000e+25  ...     1  43.0579  Rental Occupied
1283  41092    730618  3.115000e+25  ...     1  43.0573  Rental Occupied
1284  41144    730671  3.115000e+25  ...     1  43.0588  Rental Occupied
1285  41158    730685  3.115000e+25  ...     1  43.0583  Rental Occupied

[1286 rows x 31 columns]

In [ ]:
working_file=datafile[['ZIPCODE','YEARBLT','NOFIREPL','NOBEDS','FULL_BATHS','BSMNT_GAR','VALUE']]
working_file

      ZIPCODE  YEARBLT  NOFIREPL  NOBEDS  FULL_BATHS  BSMNT_GAR  VALUE
0       13210        0         0       0           0          0      0
1       13202        0         0       0           0          0      1
2       13210        0         0       0           0          0      0
3       13090     1920         0       4           2          0      1
4       13090     1900         0       3           2          0      1
...       ...      ...       ...     ...         ...        ...    ...
1281    13202     1900         0       4           2          0      0
1282    13090     1890         0       4           2          0      1
1283    13090     1900         0       4           2          0      1
1284    13090     1900         0       2           1          0      1
1285    13090     1900         1       6           2          0      1

[1286 rows x 7 columns]

In [ ]:
def split(clean_table):

    X = clean_table.values[:, 0:6]
    Y = clean_table.values[:, 6] 

    # Splitting the dataset into train and test 
    X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 100) 
      
    return X, Y, X_train, X_test, y_train, y_test

In [ ]:

def train(X_train, X_test, y_train): 
   
    clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,max_depth=3, min_samples_leaf=5) 
    clf_gini.fit(X_train, y_train) 
    return clf_gini

In [ ]:
def predict(X_test, clf_object): 
 
    y_pred = clf_object.predict(X_test) 
    print("Predicted values:") 
    print(y_pred) 
    return y_pred

In [ ]:
def accuracy(y_test, y_pred): 
      
    print("Confusion Matrix: ", confusion_matrix(y_test, y_pred)) 
    print ("Accuracy : ", accuracy_score(y_test,y_pred)*100) 
    print("Report : ", classification_report(y_test, y_pred))

In [ ]:
X, Y, X_train, X_test, y_train, y_test = split(working_file) 
print (X_test)

[[13210  1910     0     5     2     0]
 [13210  2010     0     6     4     0]
 [13202     0     0     0     0     0]
 ...
 [13210  1922     2     6     2     0]
 [13210  1910     0     6     3     0]
 [13210     0     0     0     0     0]]

In [ ]:
y_test

array([0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0])

In [ ]:
print(working_file.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1286 entries, 0 to 1285
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ZIPCODE     1286 non-null   int64
 1   YEARBLT     1286 non-null   int64
 2   NOFIREPL    1286 non-null   int64
 3   NOBEDS      1286 non-null   int64
 4   FULL_BATHS  1286 non-null   int64
 5   BSMNT_GAR   1286 non-null   int64
 6   VALUE       1286 non-null   int64
dtypes: int64(7)
memory usage: 70.5 KB
None

In [ ]:

clf_gini = train(X_train, X_test, y_train) 

print("Results Using Gini Index:") 
y = predict(X_test, clf_gini)

Results Using Gini Index:
Predicted values:
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [ ]:
accuracy(y_test, y)

Confusion Matrix:  [[  1 196]
 [  2 187]]
Accuracy :  48.704663212435236
Report :                precision    recall  f1-score   support

           0       0.33      0.01      0.01       197
           1       0.49      0.99      0.65       189

    accuracy                           0.49       386
   macro avg       0.41      0.50      0.33       386
weighted avg       0.41      0.49      0.33       386

In [ ]:
cols=['ZIPCODE', 'YEARBLT', 'NOFIREPL', 'NOBEDS',
       'FULL_BATHS', 'BSMNT_GAR']

In [ ]:
    dot_data = tree.export_graphviz(clf_gini, out_file=None, feature_names=cols)
    pdot = pydot.graph_from_dot_data(dot_data)
    pdot[0].set_graph_defaults(size = "\"15,15\"")
    graph = Source(pdot[0].to_string())
    graph